# Database
DATABASE_URL="postgresql://printvertise:printvertise@localhost:5432/printvertise"

# App
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Admin Basic Auth
ADMIN_USER="admin"
ADMIN_PASSWORD="changeme"
